<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wateon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--CharsetFilter start--> 

  <filter>
    <filter-name>Charset Filter</filter-name>
    <filter-class>wateon.util.CharsetFilter</filter-class>
      <init-param>
        <param-name>requestEncoding</param-name>
        <param-value>UTF-8</param-value>
      </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Charset Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--CharsetFilter end-->
  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>wateon.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>wateon.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>wateon.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendIMsg.do</display-name>
    <servlet-name>sendIMsg.do</servlet-name>
    <servlet-class>SendInstanceMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendIMsg.do</servlet-name>
    <url-pattern>/sendIMsg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>group.do</display-name>
    <servlet-name>group.do</servlet-name>
    <servlet-class>wateon.servlet.GroupManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>group.do</servlet-name>
    <url-pattern>/group.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friend.do</display-name>
    <servlet-name>friend.do</servlet-name>
    <servlet-class>wateon.servlet.FriendManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friend.do</servlet-name>
    <url-pattern>/friend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myStatus.do</display-name>
    <servlet-name>myStatus.do</servlet-name>
    <servlet-class>wateon.servlet.MyStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myStatus.do</servlet-name>
    <url-pattern>/myStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMsg.do</display-name>
    <servlet-name>sendMsg.do</servlet-name>
    <servlet-class>wateon.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMsg.do</servlet-name>
    <url-pattern>/sendMsg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkMsg.do</display-name>
    <servlet-name>checkMsg.do</servlet-name>
    <servlet-class>wateon.servlet.CheckMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkMsg.do</servlet-name>
    <url-pattern>/checkMsg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkStatus.do</display-name>
    <servlet-name>checkStatus.do</servlet-name>
    <servlet-class>wateon.servlet.CheckWateOnStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkStatus.do</servlet-name>
    <url-pattern>/checkStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chat.do</display-name>
    <servlet-name>chat.do</servlet-name>
    <servlet-class>wateon.servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chat.do</servlet-name>
    <url-pattern>/chat.do</url-pattern>
  </servlet-mapping>
</web-app>