@CHARSET "UTF-8";

.menu {
	font-size: 12px;
	font-weight: bold;
	background: #A1D3E9;
	padding:5px;
	
}

.friend_list * {
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.friend_list {
	display: block;
	/*
	width: 400px;
	*/
}

.friend_list h3 {
	cursor: pointer;
	background-color: #F1F1F1;
	padding: 2px;
}

.friend_list li li {
	list-style-position: inside;
	list-style-type: square;
}

.friend_list li ul {
	border: 1px solid #F1F1F1;
	display: none;
}
